<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings >
    <!-- The path were the tests files would be stored-->
    <add key="basePath" value="C:\DEV\ExcelDataReader\Excel.Tests\Resources" />

    <!-- The name of each test workbook -->
    <add key="Test10x10" value="Test10x10.xls"/>
    <add key="Test10x10000" value="Test10x10000.xls"/>
    <add key="Test255x10" value="Test255x10.xls"/>
    <add key="TestChess" value="TestChess.xls"/>
    <add key="TestMultiSheet" value="TestMultiSheet.xls"/>
    <add key="TestUnicodeChars" value="TestUnicodeChars.xls"/>
    <add key="TestDoublePrecision" value="TestDoublePrecision.xls"/>
    <add key="TestExcel_2040" value="TestExcel_2040.xls"/>
    <add key="Test_Encoding_1520" value="Test_Encoding_Formula_Date_1520.xls"/>
    <add key="Test_Decimal_1109" value="Test_Decimal_1109.xls"/>
    <add key="TestFail_Binary" value="TestFail_Binary.xls"/>
    <add key="Test_num_double_date_bool_string" value="Test_num_double_date_bool_string.xls"/>

    <add key="xTestOpenXml" value="TestOpenXml.xlsx"/>
    <add key="xTest10x10" value="Test10x10.xlsx"/>
    <add key="xTest10x10000" value="Test10x10000.xlsx"/>
    <add key="xTest255x10" value="Test255x10.xlsx"/>
    <add key="xTestChess" value="TestChess.xlsx"/>
    <add key="xTestMultiSheet" value="TestMultiSheet.xlsx"/>
    <add key="xTestUnicodeChars" value="TestUnicodeChars.xlsx"/>
    <add key="xTestDoublePrecision" value="TestDoublePrecision.xlsx"/>
    <add key="xTestExcel_2040" value="TestExcel_2040.xlsx"/>
    <add key="xTest_Encoding_1520" value="Test_Encoding_Formula_Date_1520.xlsx"/>
    <add key="xTest_Decimal_1109" value="Test_Decimal_1109.xlsx"/>
    <add key="xTestFail_Binary" value="TestFail_Binary.xlsx"/>
    <add key="xTest_num_double_date_bool_string" value="Test_num_double_date_bool_string.xlsx"/>

    <add key="bTest10x10" value="Test10x10.xlsb"/>

    <!-- To test some unicode conversion -->
    <add key="TestUnicodePos2x1" value="éЗ" />

  </appSettings>
</configuration>