<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" debug="false">
   
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>
   
    <appender name="FILE" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="./log/sqltools.log"/>
        <param name="MaxFileSize" value="10000KB"/>
        <param name="MaxBackupIndex" value="10"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{HH:mm:ss,SSS} %-5p [%c{1}] %m%n"/>
        </layout>
    </appender>  
   
  
   
    <!--category name="tools">
        	<priority value="DEBUG"/>
        	<appender-ref ref="FILE"/>
    </category-->
   

   
    <category name="org.apache.camel">
        <priority value="DEBUG"/>
    </category> 

    <category name="org.apache.camel.impl.converter">
        <priority value="INFO"/>
    </category>
    <category name="org.apache.camel.util.ResolverUtil">
        <priority value="INFO"/>
    </category>
    <category name="org.springframework">
        <priority value="WARN"/>
    </category>
    <root>
        <priority value="INFO"/>
        <!--	<appender-ref ref="FILE"/>-->
        <appender-ref ref="CONSOLE"/>
    </root>
</log4j:configuration>

