<?xml version="1.0"?>
<configuration>
	<configSections>
		<section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
	</configSections>
	<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
		<targets>
			<!-- Log in a separate thread, possibly queueing up to
        5000 messages. When the queue overflows, discard any
        extra messages-->
			<target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
				<target xsi:type="File" fileName="${basedir}/logs/log${shortdate}.txt" layout="${longdate} ${callsite} ${level} ${message} ${stacktrace}"/>
			</target>
		</targets>
		<rules>
			<logger name="*" minlevel="Debug" writeTo="file"/>
		</rules>
	</nlog>
	<!--<startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>-->
	<startup/></configuration>
