<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
	"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="se.spagettikod.optimist.testutil.mockups.InheritedEntityMapper">
	<resultMap type="se.spagettikod.optimist.testutil.mockups.InheritedEntity" id="entityMap">
		<result property="id" column="id" />
		<result property="value" column="value" />
		<result property="additionalValue" column="additional_value" />
		<result property="version" column="version" />
	</resultMap>
	
	<select id="getById" resultMap="entityMap">
		SELECT * FROM inherited_entity WHERE id = #{id}
	</select>
	
	<insert id="insertEntity" parameterType="se.spagettikod.optimist.testutil.mockups.InheritedEntity"
			useGeneratedKeys="true"	keyProperty="id">
		INSERT INTO inherited_entity (
			value,
			additional_value,
			version
		) VALUES (
			#{value},
			#{additionalValue},
			#{version}
		)
	</insert>
	
	<update id="updateEntity" parameterType="se.spagettikod.optimist.testutil.mockups.InheritedEntity">
		UPDATE inherited_entity SET
			value = #{value},
			additional_value = #{additionalValue},
			version = #{version}
		WHERE id = #{id}
	</update>
	
	<delete id="deleteEntity">
		DELETE FROM inherited_entity WHERE id = #{id}
	</delete>
</mapper>