<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:cache="http://www.springframework.org/schema/cache"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xmlns:repo="http://www.springframework.org/schema/data/repository"
       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                            http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
                            http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
                            http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
                            http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
                            http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                            http://www.springframework.org/schema/cache http://www.springframework.org/schema/cache/spring-cache.xsd
                            http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
                            http://www.springframework.org/schema/data/repository http://www.springframework.org/schema/data/repository/spring-repository.xsd
                            http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd
                            http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd"
        >

    <context:component-scan base-package="org.yy">
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
        <context:exclude-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
    </context:component-scan>
    <context:annotation-config/>

    <bean id="ignite" class="org.apache.ignite.IgniteSpringBean">
        <property name="configuration" ref="igniteServerConfig"/>
    </bean>

    <!--
       Abstract cache configuration for IGFS file data to be used as a template.
   -->
    <bean id="dataCacheCfgBase" class="org.apache.ignite.configuration.CacheConfiguration" abstract="true">
        <property name="cacheMode" value="PARTITIONED"/>
        <property name="atomicityMode" value="TRANSACTIONAL"/>
        <property name="writeSynchronizationMode" value="FULL_SYNC"/>
        <property name="backups" value="0"/>
        <property name="memoryMode" value="ONHEAP_TIERED"/>
        <property name="offHeapMaxMemory" value="0"/>
        <property name="affinityMapper">
            <bean class="org.apache.ignite.igfs.IgfsGroupDataBlocksKeyMapper">
                <!-- How many sequential blocks will be stored on the same node. -->
                <constructor-arg value="512"/>
            </bean>
        </property>
    </bean>

    <!--
        Abstract cache configuration for IGFS metadata to be used as a template.
    -->
    <bean id="metaCacheCfgBase" class="org.apache.ignite.configuration.CacheConfiguration" abstract="true">
        <property name="memoryMode" value="ONHEAP_TIERED"/>
        <property name="offHeapMaxMemory" value="0"/>
        <property name="cacheMode" value="REPLICATED"/>
        <property name="atomicityMode" value="TRANSACTIONAL"/>
        <property name="writeSynchronizationMode" value="FULL_SYNC"/>
    </bean>
    <bean id="igfsCfgBase" class="org.apache.ignite.configuration.FileSystemConfiguration" abstract="true">
        <!-- Must correlate with cache affinity mapper. -->
        <property name="blockSize" value="#{128 * 1024}"/>
        <property name="perNodeBatchSize" value="512"/>
        <property name="perNodeParallelBatchCount" value="16"/>
        <property name="prefetchBlocks" value="32"/>
    </bean>
    <bean id="igniteServerConfig" class="org.apache.ignite.configuration.IgniteConfiguration">
        <property name="gridName" value="studyignite"/>
        <property name="peerClassLoadingEnabled" value="false"/>
        <!--       <property name="marshaller">  -->
        <!--           <bean class="org.apache.ignite.marshaller.optimized.OptimizedMarshaller">  -->
        <!--               <property name="requireSerializable" value="false" />  -->
        <!--           </bean>  -->
        <!--       </property>  -->
        <property name="marshaller">
            <bean class="org.apache.ignite.internal.binary.BinaryMarshaller"/>
        </property>
        <property name="serviceConfiguration">
            <list>
            </list>
        </property>
        <property name="atomicConfiguration">
            <bean class="org.apache.ignite.configuration.AtomicConfiguration">
                <!-- Set number of backups. -->
                <property name="backups" value="1"/>
                <!-- Set number of sequence values to be reserved. -->
                <property name="atomicSequenceReserveSize" value="5000"/>
            </bean>
        </property>
        <property name="metricsLogFrequency" value="0"/>
        <property name="gridLogger">
            <bean class="org.apache.ignite.logger.slf4j.Slf4jLogger"/>
        </property>
        <property name="discoverySpi">
            <bean class="org.apache.ignite.spi.discovery.tcp.TcpDiscoverySpi">
                <property name="ipFinder">
                    <bean class="org.apache.ignite.spi.discovery.tcp.ipfinder.multicast.TcpDiscoveryMulticastIpFinder">
                    </bean>
                </property>
            </bean>
        </property>
        <property name="cacheConfiguration">
            <list>
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
                    <!-- Cache mode. -->
                    <property name="name" value="cacheservice"/>
                    <!-- Set initial cache capacity to ~ 100M. -->
                    <property name="startSize" value="#{1 * 1024 * 1024}"/>
                    <property name="cacheMode" value="PARTITIONED"/>
                    <property name="evictionPolicy">
                        <!-- LRU eviction policy. -->
                        <bean class="org.apache.ignite.cache.eviction.lru.LruEvictionPolicy">
                            <!-- Set the maximum cache size to 1 million (default is 100,000). -->
                            <property name="maxSize" value="1000000"/>
                        </bean>
                    </property>
                    <property name="memoryMode" value="ONHEAP_TIERED"/>
                    <!-- This shows how to configure number of backups. The below configuration
                        sets the number of backups to 1 (which is default). -->
                    <property name="backups" value="0"/>
                    <property name="offHeapMaxMemory" value="0"/>
                    <property name="rebalanceBatchSize" value="#{1024 * 1024}"/>
                    <!-- Explicitly disable rebalance throttling. -->
                    <property name="rebalanceThrottle" value="0"/>
                    <!-- Set 4 threads for rebalancing. -->
                    <property name="rebalanceThreadPoolSize" value="4"/>
                </bean>
                <bean class="org.apache.ignite.configuration.CacheConfiguration">
                    <!-- Cache mode. -->
                    <property name="name" value="webCache"/>
                    <!-- Set initial cache capacity to ~ 100M. -->
                    <property name="cacheMode" value="PARTITIONED"/>
                    <property name="evictionPolicy">
                        <!-- LRU eviction policy. -->
                        <bean class="org.apache.ignite.cache.eviction.lru.LruEvictionPolicy">
                            <!-- Set the maximum cache size to 1 million (default is 100,000). -->
                            <property name="maxSize" value="1000000"/>
                        </bean>
                    </property>
                    <property name="memoryMode" value="ONHEAP_TIERED"/>
                    <!-- This shows how to configure number of backups. The below configuration
                        sets the number of backups to 1 (which is default). -->
                    <property name="backups" value="1"/>
                    <property name="offHeapMaxMemory" value="0"/>
                    <property name="rebalanceBatchSize" value="#{1024 * 1024}"/>
                    <!-- Explicitly disable rebalance throttling. -->
                    <property name="rebalanceThrottle" value="0"/>
                    <!-- Set 4 threads for rebalancing. -->
                    <property name="rebalanceThreadPoolSize" value="4"/>
                </bean>
                <!-- File system metadata cache. -->
                <bean class="org.apache.ignite.configuration.CacheConfiguration" parent="metaCacheCfgBase">
                    <property name="name" value="igfs-meta"/>
                </bean>

                <!-- File system files data cache. -->
                <bean class="org.apache.ignite.configuration.CacheConfiguration" parent="dataCacheCfgBase">
                    <property name="name" value="igfs-data"/>
                </bean>
            </list>
        </property>
        <property name="fileSystemConfiguration">
            <list>
                <bean class="org.apache.ignite.configuration.FileSystemConfiguration" parent="igfsCfgBase">
                    <property name="name" value="imagefs"/>
                    <!-- Caches with these names must be configured. -->
                    <property name="metaCacheName" value="igfs-meta"/>
                    <property name="dataCacheName" value="igfs-data"/>
                    <!-- Configure TCP endpoint for communication with the file system instance. -->
                    <property name="ipcEndpointConfiguration">
                        <bean class="org.apache.ignite.igfs.IgfsIpcEndpointConfiguration">
                            <property name="type" value="TCP"/>
                            <property name="host" value="0.0.0.0"/>
                            <property name="port" value="10500"/>
                        </bean>
                    </property>
                </bean>
            </list>
        </property>
    </bean>

    <bean id="abstractEntityManagerFactory" abstract="true"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="jpaVendorAdapter">
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">
                <property name="showSql" value="true"/>
                <property name="generateDdl" value="true"/>
                <property name="databasePlatform" value="org.hibernate.dialect.H2Dialect"/>
            </bean>
        </property>
        <property name="jpaPropertyMap" ref="jpaPropertyMap"/>

    </bean>

    <bean id="entityManagerFactory" parent="abstractEntityManagerFactory">
<!--        <property name="persistenceXmlLocation" value="classpath:/META-INF/mss-persistence.xml"/>
        <property name="persistenceUnitName" value="mss"/>-->
        <property name="dataSource" ref="studyIgniteDs"/>
        <property name="packagesToScan" value="org.yy.core.model"/>
    </bean>

    <bean id="entityManager" class="org.springframework.orm.jpa.support.SharedEntityManagerBean">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
    </bean>

    <bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
        <constructor-arg>
            <ref bean="studyIgniteDs"/>
        </constructor-arg>
    </bean>


    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor">
        <property name="defaultPersistenceUnitName" value="mss"/>
    </bean>


    <aop:aspectj-autoproxy/>


    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean"/>

    <!-- cache -->
    <cache:annotation-driven cache-manager="igniteCacheManager"/>
    <bean id="igniteCacheManager" class="org.apache.ignite.cache.spring.SpringCacheManager" depends-on="ignite">
        <property name="gridName" value="studyignite"/>
    </bean>

    <tx:annotation-driven transaction-manager="transactionManager"/>

    <bean id="studyIgniteDs" class="org.springframework.jdbc.datasource.LazyConnectionDataSourceProxy">
        <property name="targetDataSource" ref="studyIgniteDataSourceTarget"/>
    </bean>


    <bean id="studyIgniteDataSourceTarget" class="com.zaxxer.hikari.HikariDataSource" destroy-method="close">
       <!-- <property name="dataSourceClassName" value="org.h2.Driver"/>-->
        <property name="jdbcUrl" value="jdbc:h2:mem:test;DB_CLOSE_DELAY=-1"/>
        <property name="username" value="sa"/>
        <property name="password" value=""/>
        <property name="autoCommit" value="false"/>
        <property name="minimumIdle" value="0"/>
        <property name="maximumPoolSize" value="20"/>
        <property name="idleTimeout" value="600000"/>
        <property name="maxLifetime" value="1800000 "/>
        <property name="connectionTimeout" value="30000"/>
    </bean>

    <bean id="jpaPropertyMap" class="org.springframework.beans.factory.config.MapFactoryBean">
        <property name="targetMapClass">
            <value>java.util.HashMap</value>
        </property>
        <property name="sourceMap">
            <map>
                <entry key="hibernate.dialect" value="org.hibernate.dialect.H2Dialect"/>
                <!--entry key="hibernate.hbm2ddl.auto" value="validate" /-->
                <!--entry key="hibernate.hbm2ddl.auto" value="create" /-->
                <entry key="hibernate.jdbc.batch_size" value="30"/>
                <entry key="hibernate.query.jpaql_strict_compliance" value="true"/>
                <!--entry key="hibernate.transaction.flush_before_completion" value="true" /-->
                <!--entry key="hibernate.transaction.auto_close_session" value="true" /-->
            </map>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <property name="entityManagerFactory" ref="entityManagerFactory"/>
        <property name="dataSource" ref="studyIgniteDs"/>
    </bean>
    <jpa:repositories base-package="org.yy"
                      entity-manager-factory-ref="entityManagerFactory"
                      transaction-manager-ref="transactionManager"
                      repository-impl-postfix="Ext">
        <repo:include-filter type="annotation" expression="org.springframework.stereotype.Repository"/>
    </jpa:repositories>
</beans>
